.page{
	padding-bottom: 100rpx;
	background-color: #FFFFFF;
}
.head-info{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	/* #ifdef APP-PLUS||H5 */
	padding: calc(20rpx + var(--status-bar-height)) 25rpx 0;
	height: calc(200rpx + var(--status-bar-height));
	/* #endif */
	/* #ifdef MP */
	padding:0 25rpx;
	height: 170rpx;
	/* #endif */
	
	background-size: 100% 433rpx;
	background-color: #288851;
	overflow: hidden;
	.head-search{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.icon-info{
			display: flex;
			align-items: center;
			height: 100%;
			text{
				font-size: 52rpx;
				color: #f6f6f6;
			}
			image{
				width: 42rpx;
				height: 43rpx;
			}
		}
		.search{
			display: flex;
			align-items: center;
			width: 75%;
			padding: 0 20rpx;
			height: 65rpx;
			background-color: rgba(255,255,255,0.3);
			border-radius: 10rpx;
			.icon{
				display: flex;
				align-items: center;
				margin-right: 20rpx;
				image{
					width: 27rpx;
					height: 29rpx;
				}
			}
			.hint{
				display: flex;
				align-items: center;
				.max{
					font-size: 30rpx;
					font-weight: bold;
					color: #FFFFFF;
				}
				.min{
					font-size: 24rpx;
					color: #F6f6f6;
					margin-left: 10rpx;
				}
			}
		}
	}
	.classify-list{
		white-space:nowrap;
		width: 100%;
		height: 100rpx;
		overflow-x: auto;
		overflow-y: hidden;
		.list{
			position: relative;
			display:inline-block;
			width: 20%;
			height: 100%;
			line-height: 100rpx;
			text-align: center;
			text{
				font-size: 28rpx;
				color: #FFFFFF;
				opacity: 0.8;
			}
			.line{
				position: absolute;
				left: 50%;
				bottom: 20rpx;
				width: 60%;
				height: 8rpx;
				background: linear-gradient(to right,#f8f893,#fe9d00);
				border-radius: 10rpx;
				transform: translate(-50%,0);
			}
		}
		.action{
			text{
				font-size: 32rpx;
				opacity: 1;
			}
		}
	}
}
.main{
	/* #ifdef APP-PLUS||H5 */
	margin-top: calc(200rpx + var(--status-bar-height));
	/* #endif */
	/* #ifdef MP */
	margin-top: 170rpx;
	/* #endif */
	padding-top: 20rpx;
	background-color: #FFFFFF;
}
/* banner */
	.banner{
		padding: 0 25rpx;
		height: 260rpx;
		margin-bottom: 30rpx;
		// margin: -200rpx auto 20rpx;
		border-radius: 10rpx;
		overflow: hidden;
		.screen-swiper{
			height: 100%;
			min-height: 100% !important;
			image{
				height: 260rpx;
				border-radius: 10rpx;
			}
		}
	}
	/* 菜单导航 */
	.menu-nav{
		position: relative;
		width: 100%;
		height: 300rpx;
		margin:30rpx auto;
		.nav-list{
			white-space: nowrap; 
			height: 270rpx;
			width: 100%;
			.nav{
				display: inline-block;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: space-between;
				height: 270rpx;
			}
			.list{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 20%;
				height: 130rpx;
				margin-bottom: 20rpx;
				image{
					width: 150rpx;
					height: 100rpx;
					border-radius: 100%;
				}
				text{
					font-size: 26rpx;
					color: #363636;
					margin-top: 10rpx;
				}
			}
		}
		.indicator{
			position: absolute;
			left: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 30rpx;
			.plan{
				position: relative;
				width: 100rpx;
				height: 8rpx;
				border-radius: 8rpx;
				background-color: #e1e1e1;
				.bar{
					position: absolute;
					width: 50%;
					height: 100%;
					border-radius: 6rpx;
					background-color: $base;
				}
			}
		}
	}