@font-face {
  font-family: 'iconfont';  /* project id 2294608 */
  src: url('//at.alicdn.com/t/font_2294608_e1ajvzj0irq.eot');
  src: url('//at.alicdn.com/t/font_2294608_e1ajvzj0irq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2294608_e1ajvzj0irq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2294608_e1ajvzj0irq.woff') format('woff'),
  url('//at.alicdn.com/t/font_2294608_e1ajvzj0irq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2294608_e1ajvzj0irq.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-scan:before {
  content: "\e689";
}
.icon-magic:before {
	content: "\e74c";
}
.icon-setting:before{
	content: "\e68a";
}
.icon-xiaoxi:before{
	content: "\e667";
}
.icon-daifukuan:before{
	content: "\e673";
}
.icon-daifahuo:before{
	content: "\e675";
}
.icon-daishouhuo:before{
	content: "\e671";
}
.icon-tuikuan:before{
	content: "\e812";
}
.icon-eye-on:before{
	content: "\e745";
}
.icon-eye-off:before{
	content: "\e6fe";
}
.icon-more:before{
	content: "\e6a3";
}
.icon-leaf-01:before{
	content: "\e6ec";
}
.icon-germination:before{
	content: "\e603";
}
.icon-diandian:before{
	content: "\e684";
}
.icon-share:before{
	content: "\e6f3";
}
.icon-jia:before{
	content: "\e767";
}
.icon-jian:before{
	content: "\e768";
}
.icon-jiangjia:before{
	content: "\e6ac";
}
.icon-guanzhu-off:before{
	content: "\e7b9";
}
.icon-guanzhu-on:before{
	content: "\e7bc";
}
.icon-jiaoyi:before{
	content: "\e6ca";
}
.icon-browse:before{
	content: "\e7f4";
}
.icon-baozheng:before{
	content: "\e62e";
}
.icon-xiedian:before{
	content: "\e67e";
}
.icon-fadajing:before{
	content: "\e66f";
}
.icon-laji:before{
	content: "\e634";
}
.icon-shaixuan:before{
	content: "\e601";
}
.icon-sanjiao:before{
	content: "\e64c";
}
.icon-shitu01:before{
	content: "\e682";
}
.icon-shitu02:before{
	content: "\e67c";
}
.icon-check:before{
	content: "\e6d7";
}
.icon-checked:before{
	content: "\e656";
}
.icon-kefu:before{
	content: "\e642";
}
.icon-cart:before{
	content: "\e6af";
}
.icon-qiandan:before{
	content: "\e619";
}
.icon-liucheng:before{
	content: "\e600";
}
.icon-shouhuo:before{
	content: "\e6d9";
}